.heading{
  text-align: center;
}
.form-inline{
  border: aqua;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  text-align: center;
  width: 60%;
  height: 350px;
  padding-top: 2%;
}

.root-signin{
text-align: -webkit-center;
text-align: -moz-center;
}

.signindiv{
  height: 25%;
}

#rat img{
  height:100px;
}

.errorBox{
  border: 1px solid red;
  color: red;
  border-radius: 20px;
  text-align: center;
}
