#root {
  padding: 4rem;
}

@keyframes example {
  0%   { left:0px; }
  25%  { left:25px; }
  25%  { left:50px; }
  100% { left:0px; }
}

.container {
  animation-name: example;
  animation-duration: 0.5s;
  position: relative;
}

.heading{
  text-align: center;
}
.form-inline{
  border: aqua;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  text-align: center;
  width: 60%;
  height: 350px;
  padding-top: 2%;
}

.root-signin{
text-align: -webkit-center;
text-align: -moz-center;
}

.signindiv{
  height: 25%;
}

#rat img{
  height:100px;
}

.errorBox{
  border: 1px solid red;
  color: red;
  border-radius: 20px;
  text-align: center;
}

.form-group.asset-req-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.form-control.asset-req-text-box {
  margin-bottom: inherit;
}

.asset-req-box {
  border: aqua;
  box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
  /* text-align: center; */
  padding: 2%;
}

.asset-req-box h3 {
  margin-bottom: 2rem;
}
#hardware, #software {
  margin-right: 7px;
}

.admin-btns {
  display: flex;
  flex-direction: column;
}